extends ../../layouts/base-layout.pug
include ../../components/button/index.pug
include ../../components/input/index.pug

block head 
  link(rel="stylesheet", href="/src/modules/sign-up/styles.css")

block content 
  .main
    .card.sign-up
      h1.title Регистрация
      .form
        +input("text", "Почта").email
        +input("text", "Логин").login
        +input("text", "Имя").first-name
        +input("text", "Фамилия").second-name
        +input("text", "Телефон").phone
        +input("text", "Пароль").password
        +input("text", "Пароль(ещё раз)").check-password
      .actions
        +button('Зарегистрироваться').button
        a(href="/src/pages/sign-up/").sign-in__link
          span Войти