extends ../../../layouts/base-layout.pug

block layoutVars 
  - const TITLE = "Error 500"

block head 
  link(rel="stylesheet", href="/src/modules/errors/styles.css")

block content
  .main
    .error
      h1.title 500
      p.description Мы уже фиксим
      a(href="index.pug").back Назад к чатам 