doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title sign in page

    link(rel="stylesheet" ,href="/src/pages/sign-in/styles.css")

  body 
    .sign-in__page
      .container
        .sign-in
          h1.sign-in__title Вход
          .sign-in__form
            input.sing-in__login(type="text" placeholder="Логин")
            input.sign-in__password(type="text" placeholder="Пароль")
          .sing-in__actions
            button.sign-in__btn Авторизоваться
            a(href="/src/pages/sign-up/").goto-sign-up__link
              span.goto-sign-up__text Нет аккаунта?