@import "../../main.css";

.button {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: var(--color-white);
  display: block;
  padding: 12px 70px;
  margin: auto;
  margin-bottom: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-button {
  color: var(--color-white);
  background: var(--color-primary);

  &:hover {
    box-shadow: 0 5px #666;
  }

  &:active {
    transform: translateY(4px);
  }
}
