@import "../../main.css";

.left-panel {
  background-color: var(--color-light-gray);
  min-width: 310px;
  padding-left: 10px;
}

.profile-link {
  text-align: right;
  color: var(--color-secondary);
  margin-bottom: 23px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 12px;
}

.create-chat {
  max-width: 280px;

  .input-field {
    margin-bottom: 4px;
  }

  &.input {
    max-width: 260px;
  }
}

.chats-list {
  width: 200px;
  height: 100%;
}
