@import "../../main.css";

.profile-link {
  text-align: right;
  color: var(--color-secondary);
  margin-bottom: 23px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 12px;
}

.search {
  padding: 12px;
}

.chats-list {
  width: 200px;
  height: 100%;
  background: #eee;
}
