.main
<<<<<<< HEAD
	.error
		h1.title= title
		p.description Не туда попали
		a(href="/").back Назад к чатам 
=======
	.error.card
		h1.title= title
		p.description Не туда попали
		| !{back}
>>>>>>> origin/sprint_3
