extends ../../layouts/base-layout.pug
include ../../components/button/index.pug
include ../../components/input/index.pug

block head 
  link(rel="stylesheet", href="/src/modules/sign-in/styles.css")

block content 
  .main
    .card.sign-in
      h1.title Вход
      .form
        +input("text", "Логин").login
        +input("text", "Пароль").password
      .actions
        +button('Авторизоваться').button
        a(href="/src/pages/sign-up/").sign-up__link
          span Нет аккаунта?