@import "../../../main.css";

.title {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin-bottom: 169px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up__link {
  text-align: center;
}
