extends ../../layouts/base-layout.pug
include ../../components/data-field/index.pug

block layoutVars 
  - const TITLE = "Profile Page"
  -   
    const userData = [
            { title: 'Почта', value: 'pochta@yandex.ru'}, 
            { title: 'Логин', value: 'ivanivanov'},
            { title: 'Имя', value:'Иван'},
            { title: 'Фамилия', value:'Иванов'},
            { title: 'Имя в чате', value: 'Иван'},
            { title: 'Телефон', value: '+7 (909) 967 30 30'},
        ];

block head 
  link(rel="stylesheet", href="/src/modules/profile/styles.css")

block content
  .main
    .profile
      .heading 
        .userAvatar 
          img(src="../../static/img/changeAvatar.png", alt="change avatar")
        .userName Иван
      .userInfo 
        each field in userData
          +dataField(field.title, field.value)
      .userActions
        .changeData
          a(href="#").link Изменить данные
        .changePassword
          a(href="#").link Изменить пароль
        .logout
          a(href="#").text-danger Выйти
