.main
<<<<<<< HEAD
	.error
		h1.title= title
		p.description Мы уже фиксим
		a(href="/").back Назад к чатам 
=======
	.error.card
		h1.title= title
		p.description Мы уже фиксим
		| !{back} 
>>>>>>> origin/sprint_3
