.messenger 
    if selectedChat 
        .button.main-button !{deleteChat}
        .messenger__messages
            each message in messages 
                |!{message}
            else
                |Начните историю переписки!
        .messenger__footer 
            |!{input}
            |!{button}
    else 
        |Выберите чат
