.messenger 
    if selectedChat 
        |!{deleteChat}
        .messenger-messages
            each message in messages 
                |!{message}
            else
                |Начните историю переписки!
        .messenger-footer 
            |!{input}
            |!{button}
    else 
        |Выберите чат
