doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title webchat
  body 
    ul links
      li 
        a(href="../src/pages/sign-in/index.html")  sign in page
      li 
        a(href="../src/pages/sign-up/index.html")  sign up page
      li 
        //- a(href="../src/pages/sign-profile/index.html")  profile page
      li
        //- a(href="../src/pages/error404/index.html")  error 404
      li 
        //- a(href="../src/pages/error500/index.html")  error 500