@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap";

:root {
  --color-white: #fff;
  --color-text: #1e1e1e;
  --color-primary: #3369f3;
  --color-secondary: #999;
  --color-light-gray: #efefef;
  --color-red: #df192c;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-secondary);
  overflow-x: hidden;
}

h1,
h2,
p {
  margin: 0;
}

a,
a:visited {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 11px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
}

.main {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card {
  padding: 30px;
  padding-top: 50px;
  width: 340px;
  background: var(--color-white);
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
}

.link {
  color: var(--color-primary);
}

h1.title {
  text-align: center;
  margin-bottom: 20px;
}
