extends ../../layouts/base-layout.pug

block layoutVars 
  - const TITLE = "Home Page"

block head 
  link(rel="stylesheet", href="/src/modules/home/styles.css")

block content
  .main
    .card.home
      h1.title Чат
      h2.links Ссылки:
      ul.nav
        li.nav-item 
          a.nav-link(href="/src/pages/sign-in.pug" target="_blank") Вход
        li.nav-item 
          a.nav-link(href="/src/pages/sign-up.pug" target="_blank") Регистрация
        li.nav-item 
          a.nav-link(href="/src/pages/error404.pug" target="_blank") 404
        li.nav-item 
          a.nav-link(href="/src/pages/error500.pug" target="_blank") 500
        li.nav-item 
          a.nav-link(href="/src/pages/profile.pug" target="_blank") Профиль